* {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  grid-template-rows: 50px;
}

.header{
  text-align: center;
  grid-area: 1/ 1/ 1/ 3;
}

.Form {
  padding: 15px;
}

.Template-container {
  /* aspect-ratio: 1 / 1.4142; */
  flex: 0 0 50%;
}