/*.Template-container {
  aspect-ratio: 1 / 1.4142;
  height: calc(100vh-20px);
} */

.Template-container {
  height: calc(100vh - 50px);
  width: calc((100vh - 50px) * 0.7071);
}

.Template {
  padding: 10px;  
  box-sizing: border-box;
  border: 1px dashed;
  max-width: 100%;

  position: sticky;
  position: -webkit-sticky;
  top: 20px;
  align-self: start;
}

.component {
  margin-top: 5px;
}
